
* {
	font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum,
		sans-serif;
    margin: 0;
    padding: 0;
}


ul, li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 62px auto;
}

.board_title {
	padding-top: 30px;
	 margin-bottom: 30px;
    align-items: center;
	text-align: center;
	align-content: center;
}

.board_title strong {
	align-items: center;
	text-align: center;
    font-size: 1.5rem;
}

.board_title p {
	text-align: center;
    margin-top: 5px;
    font-size: 1.2rem;
}

.board_list_cnt p {
	text-align: right;
	font-size: 1.1rem;
	padding-bottom: 10px;
	padding-right: 28px;
	font-weight: 700;
}

.board_list_cnt_highlight {
	color: orange;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt-wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list .bottom .title a:hover{
	text-decoration: underline;
}


.board_list > div {
    border-bottom:1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom:1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.1rem;
}
.board_list > div.top > div {
  font-weight: 600;
}

.board_list .num {
    width: 13%;
}

.board_list .title {
    width: 45%;
    text-align: left;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.board_list .top .title{
    text-align: center;
}

.board_list .writer {
    width: 13%;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.board_list .date {
    width: 15%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    vertical-align: middle;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num{
    font-size: 1.4rem;
}

.board_page a.num.on{
    border-color: #000;
    background: #000;
    color: #fff;
}


.board_page a:first-child {
    border-left: 1px solid #ddd;
}