<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategoryDAO">

	<!-- insert, delete, update는 무조건 resultType="int"이므로 프로그래머가 써주지 않아도 이미 resultType="int"가 
		있는 것으로 본다.! -->
	
	<select id="category_info" resultType="categoryVO" parameterType="int">
		SELECT *
		FROM popcorn.bbs_category
		WHERE bbs_cate_num = #{bbs_cate_num}
	</select>

</mapper>