<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieReviewDAO">
      <select id="reviewList" resultType="MovieReviewVO">
        SELECT * FROM movie_review WHERE movieId = #{movieId}
    </select>
    
     <insert id="insertMovieReview" parameterType="MovieReviewVO">
        INSERT INTO movie_review (movieId, memberId, reviewContent)
        VALUES (#{movieId}, #{memberId}, #{reviewContent})
    </insert>
</mapper>