<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieInfoDAO">

    <select id="selectOne" parameterType="String" resultType="MovieInfoVO">
        select * from popcorn.movie
        where movieId = #{movieId}
    </select>

	<select id="selectTop" parameterType="int" resultType="MovieInfoVO">
    	select * from ( select row_number() over(order by moviePopularity desc) as rank_no, r.moviePopularity, m.*
		from popcorn.rankmovie r, popcorn.movie m
		where r.movieId = m.movieId) top
		where rank_no = #{rank_no}
    </select>
    
    <update id="viewCount" parameterType="String">
    	update popcorn.movie m
		set m.movieHits = m.movieHits + 1
		where m.movieId = #{movieId}
    </update>
</mapper>