<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewslistDAO">

	<!-- insert, delete, update는 무조건 resultType="int"이므로 프로그래머가 써주지 않아도 이미 resultType="int"가 
		있는 것으로 본다.! -->

	<insert id="create" parameterType="newslistVO">
		insert into popcorn.news_list (news_id, news_url, news_img, news_headline,
		news_content, news_date, news_company) values (null, #{news_url},
		#{news_img}, #{news_headline}, #{news_content}, #{news_date},
		#{news_company})
	</insert>

	<select id="getNewsList" resultType="newslistVO">
		select * from (
		select ROW_NUMBER() over(order by news_list.news_id desc) as news_row_no, news_list.*
		from popcorn.news_list) news_list
		where news_row_no between 1 and 3
	</select>
	
	<select id="getNewsAllList" resultType="newslistVO">
		select * from (
		select ROW_NUMBER() over(order by news_list.news_id desc) as news_row_no, news_list.*
		from popcorn.news_list) news_list
		where news_row_no between 1 and 20
	</select>
	
</mapper>












